/* [Font] Rubik (300-400-700) */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
/* [Font] Roboto Mono (400) */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ===== GLOBAL =============== */
:root {
    font-size: 62.5%;

    --main-color: #00FA9A; /* Default: #00FA9A */
    --bg-color: #09091E; /* Default: #09091E */
    --text-color: #ECF0F1; /* Default: #ECF0F1 */
}

body {
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .container, header, main, footer {
    border: 1px solid red;
} */

header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* ===== CONTAINER =============== */
.container {
    width: 30rem;
    margin: 4rem auto;
    text-align: center;
}



/* ===== HEADER =============== */
header {
    margin-bottom: 4.8rem;
}

header img {
    width: 10rem;
    padding: 0.37rem;
    border: 0.4rem solid var(--main-color);
    border-radius: 50%;
}

header h1 {
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
    font-size: 3rem;
    font-weight: 700;
}

header p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    font-weight: 300;
    opacity: 0.75;
}



/* ===== MAIN =============== */
main {
    font-size: 1.6rem;
    font-weight: 700;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

main svg {
    width: 3rem;
    height: 3rem;
}

main svg path {
    fill: var(--bg-color);
}

main a {
	color: var(--bg-color);
}

main a:hover {
    opacity: 0.75;
}

main a:visited{
    color: var(--bg-color);
}

main ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    padding: 1.6rem;

    border-radius: 0.6rem;

    background-color: var(--main-color);

    transition: opacity 400ms;
}



/* ===== FOOTER =============== */
footer {
    margin-top: 4.8rem;
}

footer p {
    font-size: 1.2rem;
}

footer p a {
    color: var(--main-color);
    transition: opacity 400ms;
}

footer p a:hover {
    opacity: 0.75;
}

footer p a:visited {
    color: var(--main-color);
}

footer p svg {
    width: 1.2rem;
    height: 1.2rem;
}

footer p svg:nth-child(2) {
    margin-inline: 0.3rem;
}

footer p svg path {
    fill: var(--main-color);
}